@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
}

body {
  margin: 0;
  font-family:
    'Oswald',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    'Poppins',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

.wrapper {
  background: radial-gradient(#000000a0, #00000000 65%);
}

.rep-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 3%; left: 2%;
  color: #ffffff;
  font-size: 17px;
  z-index: 1;
}

.rep-shape {
  width: 30px; height: 30px;
  border: solid #84cc16 2px;
  rotate: 45deg;
  border-radius: 2px;
  filter: drop-shadow(0 0 5px #84cc16);
}

.hustle-container {
  width: 100%; height: 100%;
  opacity: 1;
  background: radial-gradient(#00000000, #000000);
  transition: all linear 300ms;
}

.lb-container {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 800px; height: 520px;
  background: radial-gradient(#1e293bf0, #334155f0);
  border-radius: 20px;
  padding: 30px;
  font-family: Poppins, sans-serif;
}

.lb-title-container {
  position: relative;
  width: fit-content;
}

.lb-title-container::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background: #2dd4bf;
  filter: drop-shadow(0 0 10px #2dd4bf);
  z-index: 1;
}

.lb-divider {
  position: relative;
  width: 100%;
}

.lb-divider::after {
  content: '';
  height: 1px;
  background: linear-gradient(
      to right,
      transparent,
      #9ca3af,
      transparent
  );
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
}

.lb-input-search {
  background: radial-gradient(#71717aa0, #374151);
  color: #adadad;
  font-size: 13px;
  padding: 5px 30px 5px 12px;
  width: 200px;
  border: solid #4b5563 1px;
  border-radius: 2px;
}

.lb-input-search:focus {
  outline: none;
}

.lb-input-search::placeholder {
  color: #adadad;
}

.lb-category {
  font-size: 13px;
  padding: 5px 17px;
  color: #9ca3af;
  font-weight: 300;
  cursor: pointer;
  position: relative;
  user-select: none;
  z-index: 2;
  transition: all 0.3s;
}

.lb-category:not(.active):hover {
  background-color: #9ca3af20;
}

.lb-category.active {
  color: #2dd4bf;
}

.lb-category-slider {
  position: absolute;
  bottom: -18px;
  height: 3px;
  background: #2dd4bf;
  filter: drop-shadow(0 0 5px #2dd4bf);
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 1;
}

.lb-category-bg-slider {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #2dd4bf20;
  transition: transform 0.3s ease, width 0.3s ease;
  z-index: 1;
}

::-webkit-scrollbar {
  width: 1px;
}

::-webkit-scrollbar-thumb {
  background-color: #9ca3af;
}

::-webkit-scrollbar-track {
  background-color: #9ca3af30;
}