@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

body {
  margin: 0;
  font-family:
    'Oswald',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

@keyframes slideOut {
  100% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

.wrapper {
  background: radial-gradient(#000000a0, #00000000 65%);
  animation: slideIn 250ms forwards;
}

@keyframes repAnimIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes repAnimOut {
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.rep-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 3%; left: 2%;
  color: #ffffff;
  font-size: 17px;
  animation: repAnimIn 250ms forwards;
}

.rep-shape {
  width: 30px; height: 30px;
  border: solid #84cc16 2px;
  rotate: 45deg;
  border-radius: 2px;
  filter: drop-shadow(0 0 5px #84cc16);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.hustle-container {
  width: 100%; height: 100%;
  opacity: 1;
  background: radial-gradient(#00000000, #000000);
  transition: all linear 300ms;
  animation: fadeIn 300ms forwards;
}