@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body,
#app {
  height: 100%;
  width: 100%;
}

img {
  object-fit: cover;
}

body {
  margin: 0;
  font-family:
    'Oswald',
    'Inter',
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  background: none !important;
  overflow: hidden !important;
  user-select: none;
}

@keyframes slideIn {
  0% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

@keyframes slideOut {
  100% {
    opacity: 0;
    transform: translate(-50%, 100%);
  }
}

.wrapper {
  background: radial-gradient(#000000a0, #00000000 65%);
  animation: slideIn 250ms forwards;
}

@keyframes repAnimIn {
  0% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes repAnimOut {
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}

.rep-wrapper {
  display: flex;
  align-items: center;
  gap: 15px;
  position: absolute;
  top: 3%; left: 2%;
  color: #ffffff;
  font-size: 17px;
  animation: repAnimIn 250ms forwards;
  z-index: 1;
}

.rep-shape {
  width: 30px; height: 30px;
  border: solid #84cc16 2px;
  rotate: 45deg;
  border-radius: 2px;
  filter: drop-shadow(0 0 5px #84cc16);
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 0;
  }
}

.hustle-container, .leaderboard-container {
  width: 100%; height: 100%;
  opacity: 1;
  background: radial-gradient(#00000000, #000000);
  transition: all linear 300ms;
  animation: fadeIn 300ms forwards;
}

.leaderboard-wrapper {
  font-family: 'Oswald', sans-serif;
  width: 800px; height: 500px;
  background: linear-gradient(#000000f9, #1a2e05f9);
  border-radius: 10px;
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  color: #ffffff;
  user-select: none;
  overflow: hidden;
}

.leaderboard-wrapper::before {
  content: "";
  position: absolute;
  left: -200px;
  bottom: -200px;
  width: 600px;
  height: 600px;
  background: radial-gradient(circle, rgba(0,255,0,0.2) 0%, transparent 90%);
  filter: blur(100px);
  pointer-events: none;
  z-index: -1;
}

.leaderboard-settings {
  position: absolute;
  top: 50%; left: 50%;
  transform: translate(-50%, -50%);
  width: 500px;
  pointer-events: all;
  outline: solid #a8a8a850 1px;
  padding: 15px;
  background: linear-gradient(#080808f9);
  color: #ffffff;
}

.leaderboard-settings::before,
.leaderboard-settings::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #a8a8a8;
}

/* Left up */
.leaderboard-settings::before {
  top: -2px;
  left: -2px;
  border-right: none;
  border-bottom: none;
}

/* Left right */
.leaderboard-settings::after {
  top: -2px;
  right: -2px;
  border-left: none;
  border-bottom: none;
}

/* Bottom corners */
.leaderboard-settings span::before,
.leaderboard-settings span::after {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  border: 3px solid #a8a8a8;
}

/* Left down */
.leaderboard-settings span::before {
  bottom: -2px;
  left: -2px;
  border-right: none;
  border-top: none;
}

/* Left down */
.leaderboard-settings span::after {
  bottom: -2px;
  right: -2px;
  border-left: none;
  border-top: none;
}

::-webkit-scrollbar {
  width: 2px;
}

::-webkit-scrollbar-thumb {
  background: #84cc16;
}

::-webkit-scrollbar-track {
  background: #00000050;
}